:8080 {
	root * /usr/share/caddy

	@unsafePath {
		path /.git/* /node_modules/* /vendor/* /.venv/*
	}
	respond @unsafePath 404

	file_server

	try_files {path} {path}.html {path}/index.html 404.html index.html

	zeaburextension

	log {
		output stderr
	}
}
